WordSolver/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Solutions" type="tns:Solutions" />
      <xs:element name="ActiveConstraints" type="tns:ActiveConstraints" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Solutions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SolutionsItem" type="tns:SolutionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SolutionsItem">
    <xs:sequence>
      <xs:element name="TileInfos" type="tns:TileInfos" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,9" name="Text" type="xs:string" />
    <xs:attribute name="Score" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="TileInfos">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TileInfosItem" type="tns:TileInfosItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TileInfosItem">
    <xs:attribute blend:FormatParameters="1,3" name="Letter" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="Score" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="ActiveConstraints">
    <xs:attribute name="Template" type="xs:string" />
    <xs:attribute name="Tiles" type="xs:string" />
  </xs:complexType>
</xs:schema>